/* common styles */
body{
    font-family: 'Merriweather', serif;
}
section{
    width: 80%;
}
/* Header styles start */
header{
    /* background-image: url('../images/Banner\ Image.png'); */
    background-image:
    linear-gradient(to Top, rgba(1, 3, 19, 0.52), rgba(18, 18, 18, 0.73)),
    url('../images/Banner\ Image.png');
    background-size: cover;
    width: 80%;
    height: 600px; 
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.header-mini-title{
    font-size: 32px;
    color: #FFF;
    font-weight: 400;
    text-align: center;

}
.header-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
}
.hspan{
    color: #5c2106;
}
/* main styles start */

/* discount section styles */
.discount-section{
   text-align: center;
   margin: 0 auto;
   
}
.discount-amount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.disTitle1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.disTitle2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.dis-image{
    margin-bottom: 80px;
}
/* welcome section styles */
.welcome-section{
    /* background-image: url('/images/Vectorrr.png');  */
    background-image:
    linear-gradient(to Top, rgba(1, 3, 19, 0.52), rgba(18, 18, 18, 0.73)),
    url('../images/Vectorrr.png');
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.welcome-content{
    width: 50%;
}
.welcome-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
}
.welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    background-color: #fff;
    color: #200303;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}
.btn:hover{
    background-color: #f80;
    color: #fff;
    border-radius: 10px 0 10px 0;
    transition: 0.5s;
    transform: scale(1.2);
}
.welcome-image{
    width: 320px;
    height: 465px;
    
}
/* Date and place styles */
.dateTime{
    background:
    linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    max-width: 1320px;
    height: 485px;
    margin: 0 auto;
    color: rgb(23, 1, 1);
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 20px;
  
}
.dtContent{
    position: relative;
    top: 100px;
}
.btn-dt{
    background-color: #f40;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 0;
}
.btn-dt:hover{
    border-radius: 15px 0 15px 0;
    transition: 0.6s;
    transform: scale(1.2);
}
.dtspan{
    color: #F00;
}
/* coming soon section styles */
.comingSoon-section{
    margin: 0 auto;
    width:80%;
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.comingSoon-content1,.comingSoon-content2,.comingSoon-image{
    width: 30%;
}
.cs-min-title{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.cs-title{
    color: #070211;
    font-family: Merriweather;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.cs-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.cs-content2-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.cs-content2-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.comingSoon-image-space{
    width: 400px;
    height: 380px;
    border: 20px solid #FFF;
    border-radius: 50%;
    background-image: url('../images/Ellipse\ 1.png');
    background-size: cover;
    outline: 15px solid #F00; 
    margin: 0 40px 0 20px ;
}
/* Holiday section styles */
.holiday-section{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
   
}
.holiday-min-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}
.holiday-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.holiday-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 80px;
}
.holiday-img-content{
  display: flex;
  background-image: url('../images/Rectangle\ 2.png');
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 60px;
  border-radius: 20px 0 20px 20px;
}
.girl-img-space{
    width: 400px;
    height: 450px;
    background-image: url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    bottom: 12px;
    left: -110px;
    border-radius: 20px 20px 0 0;
  
}
.discount-img{
    position: relative;
    right: 160px;
}
/* Portfolio section styles */
.portfolio-section{
    margin: 0 auto;
}
.port-min-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.port-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.port-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.portImg-content img{
    width: 320px;
    height: 380px; 
    border-radius: 16px;
   
}
.portImg-content{
    margin-top: 40px;
    margin-bottom: 100px;
}
/* subscribe section styles */
.subscribe-section{
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.sub-icon{
    margin-top: 70px;
}
.sub-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.sub-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin: 22px 212px 35px 212px;
}
.sub-input{
    padding: 29px;
    border: 0;
    border-radius: 50px 0 0 50px;
    margin-right:0;
    
}
.sub-btn{
    width: 180px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #f00;
    border: 0;
    padding: 20px;
    border-radius: 0 50px 50px 0 ;
    margin-left: 0;
}
